<div class="bg-secondary text-white">
  <div class="container text-right">
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Dashboard' %> |
    <%= link_to 'Logout' %>
  </div>
  <div class="container text-center">
    <h2>Blogs</h2>
    <p class="text-primary"></p>
  </div>
</div>
