<div class="container text-right">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Create a Dreamer', new_user_path %>
  <%= link_to 'Log in', new_session_path %>
</div>
<div class="container text-center">
  <h2>Welcome to DreamBook</h2>
</div>
