<div class="bg-secondary text-white">
  <div class="container text-right">
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Create a Dreamer', new_user_path %> |
    <%= link_to 'Log in', '/auth/google_oauth2' %>
  </div>
  <div class="container text-center">
    <h2>Welcome to DreamBook</h2>
    <p class="text-primary"></p>
  </div>
</div>
